div {
}

ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  max-height: 200px;
  width: 200px;
  overflow-y: auto;
  z-index: 5;
}
ul.has-suggestions {
  display: block;
  z-index: 2;
}
ul.has-suggestions2 {
  display: block;
  z-index: 2;
}
ul li {
  padding: 10px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  text-decoration: none !important;
}
ul li:hover {
  background-color: #f9f9f9;
}
